<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Text Utils</title>
</head>
<body>
	<h1>  Welcome to the Text Analayzer. Enter your text below:  </h1>
	<form action='/analyze' method='get'>
	
		<textarea name="text" style='margin: 0px; width: 1336px; height: 138px;'></textarea>
		<input type="checkbox" name="removepunc"> Remove Punctuations<br>
		<input type="checkbox" name="fullcaps"> Upper Case<br>
		<input type="checkbox" name="newlineremover"> New Line Remover<br>
		<input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
		<input type="checkbox" name="charcount"> Character Counter<br>

		<button type="submit">Analyze Text</button>
	</form>
</body>
</html>